Issue with packet handling for ICMPv6 packets utilizing the IPv6ExtHdrHopByHop layer. 

Testing with Scapy version 2024.03.14, I noticed a potential issue with packet handling for ICMPv6 packets utilizing the IPv6ExtHdrHopByHop layer. When generating a packet, with the below parameters based on RFC8200 Sections 4.2/4.3, and RFC4443 Sections 2.2/2.4/3.4, Scapy does not register receipt of an answer.

```
srp(Ether(dst='00:50:56:84:1c:14')/IPv6(tc=0, fl=0, nh=0, hlim=255, dst='fe80::250:56ff:fe84:1c14', src='fe80::26', version=6)/IPv6ExtHdrHopByHop(nh=58,options=Pad1(b'\x00')/Pad1(b'\x00')/Pad1(b'\x00')/Pad1(b'\x00')/Pad1(b'\x00')/Pad1(b'\x00'))/ICMPv6EchoRequest(data="6A"),iface='ens224',timeout=2)
```
(To reproduce, update the `dst mac`, `dst ip`, `src ip` and `src iface` to the values for your test architecture)

```
Received 5 packets, got 0 answers, remaining 1 packets
(<Results: TCP:0 UDP:0 ICMP:0 Other:0>,
 <Unanswered: TCP:0 UDP:0 ICMP:0 Other:1>)
  ```

While reviewing the attached pcap for the scenario, I was able to identify that the ICMPv6 Echo Request was sent, and an associated ICMPv6 Echo Response was received.

I have isolated the issue to [inet6.py#L446](https://github.com/secdev/scapy/blob/58519e55cfd6af4bb80ed98cb671412a3385be24/scapy/layers/inet6.py#L446) (Sampled below)

```
407    def answers(self, other):
.
.
.
445        elif other.nh == 0 and isinstance(other.payload, IPv6ExtHdrHopByHop):
446            return self.payload.answers(other.payload)
447        elif other.nh == 44 and isinstance(other.payload, IPv6ExtHdrFragment):
448            return self.payload.answers(other.payload.payload)
449        elif other.nh == 43 and isinstance(other.payload, IPv6ExtHdrRouting):
450            return self.payload.answers(other.payload.payload)  # Buggy if self.payload is a IPv6ExtHdrRouting  # noqa: E501
```
The answers function takes two arguments, `self` as the received response, and `other` as the packet that was sent.

It compares `self.payload` of the received packet to `other.payload` of the sent packet.

The comparison fails, because `self.payload` is an **ICMPv6EchoReply**, while `other.payload` is an **IPv6ExtHdrHopByHop**.

I believe the correct comparison should be `self.payload` compared against `other.payload.payload`, similar to the subsequent elif test cases for other IPv6 Extension Headers. 

I have tested this change and Scapy registers receipt of an answer with this now passing comparison:

```
Received 1 packets, got 1 answers, remaining 0 packets
(<Results: TCP:0 UDP:0 ICMP:0 Other:1>,
 <Unanswered: TCP:0 UDP:0 ICMP:0 Other:0>)
 ```

Please advise if my understanding of this corrected comparison is accurate.

**Discovered on version**: 2.4.3.

**Reproduced on version**: 2024.03.14 installed from source today.

**Test Architecture**: Src and Dst systems running Ubuntu 20.04.6 LTS

**Scapy Python Version**: 3.8.10

[IPv6ExtHdrHopByHop.pcap.zip](https://github.com/secdev/scapy/files/14615327/IPv6ExtHdrHopByHop.pcap.zip)


Thanks for your message. I had a look at several RFC, and source code to answer you message, and I think that current Scapy implementation is fine, yet not always satisfactory. I will explain why.

Your issue arises from a corner case, where the destination does not reflect an empty Hop-by-Hop extension that it received.

Current Scapy is however correct when we consider that the source sends a well formed Hop-by-Hop extension such as Jumbo, that will be reflected by the destination.

The proposed fix breaks the current Scapy behavior as well as other correct ones such as `IPv6() / IPv6ExtHdrHopByHop() / ESP() / Raw()`. I do not think that it is an issue, and that it should be fixed.

