sr1 does not capture response for certain packets

### Brief description

When sending specific packets with `sr1` scapy does not capture the response packet even though Wireshark shows it clearly reaching the client.

This only happens with specific packets. What I was able to find is that it only happens for responses of packets that I send that do not have the SYN nor ACK flags.

### Scapy version

2.5.0

### Python version

3.10

### Operating system

Windows 11 10.0.22621

### Additional environment information

_No response_

### How to reproduce


Here are two examples:

```python
# Packet with no flags, from 10.0.0.8 to 10.0.0.8
p1 = '4500003c7f7a40004006a7320a0000080a0000089ef70087ba7e023ee01eef3fa0000080038a000003030a0102040109080affffffff000000000402'
# Packet with the FIN, PSH, URG flags
p2 = '4500003cddf90000400688b30a0000080a0000089efc0050ba7e023ee01eef3fa029ffffff12000003030f0102040109080affffffff000000000402'

sr1(IP(bytes.fromhex(p1))
sr1(IP(bytes.fromhex(p2))
```

### Actual result

```
Begin emission:.
.Finished sending 1 packets..
........................................................................................
```

### Expected result

The packet should be captured by scapy as shown by Wireshark.

### Related resources

_No response_

Same issue here. 
Using Python 3.11, Scapy 2.5 on
Linux kali 6.0.0-kali6-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.0.12-1kali1 (2022-12-19) x86_64 GNU/Linux

There could be several reasons that lead to this issue.

### 1. Incorrect Scapy Implementation
The answers method in the TCP class in inet.py file handles your TCP response incorrectly, and therefore the sr1 function does not recognize the answer.
https://github.com/secdev/scapy/blob/181aa4d5149fbf1b19fbf93650bc9a62ab948138/scapy/layers/inet.py#L796-L825

### 2. Your TCP Server handles TCP requests incorrectly
It's not totally clear if you are doing a complete TCP Handshake before sending your packets (I don't think this is the case because your provided packets to reproduce this issue only TCP Requests without flags or with FIN, PSH, URG set. The TCP RFC states that without an SYN, ACK or RST flag TCP Request should not be answered in the Listen State see [RFC9293 Section 3.10.7.2](https://www.rfc-editor.org/rfc/rfc9293#section-3.10.7.2).

### Further Steps
I think the second reasons is more likely to be the cause of the issue, and we should not adapt scapy to support non-standard conform behavior. But I would like to investigate this issues further, therefore it would be really helpful if you could provide the following things:

- PCAP File of the captured Wireshark trace
- The exact Version of the used TCP Sever/Application

Hi and sorry for the delay. Could you provide a pcap sample with the request packet and the unmatched answer packet? Thanks

Hi all,

I am experiencing a very similar issue but instead with tcp mine is simply an ICMP echo (aka ping).
```python3
>>> ans = sr1(IP(dst="localhost")/ICMP(id=42), timeout=10)
Begin emission:
Finished sending 1 packets.
.
Received 1 packets, got 0 answers, remaining 1 packets
>>> print(ans)
None
```
Not sure this is related but thought I will bring it up.

Again, as I said, unless one of you provided a reproducible example and a pcap of the answer being  ignored by Scapy, this is a wontfix.