TTL setting in IGMP.igmpize method

#### Brief description

IGMP.igmpize method in Scapy 2.3.3 was setting IP.ttl value to 1. Currently ttl is not modified by this function. 

I consider this a bug as in docstring one can read: 
> 4. ttl = 1 (RFC 2236, section 2)

The new behaviour has been introduced in revision 8329256dcaefb0aa7e1c9ec95e15abdd7607362a

If you agree it is actually a bug, then I can provide fix :) 

#### Environment

-   Scapy version: 2.4.2
-   Python 2.7

#### How to reproduce

**Scapy 2.4.2**

```
>>> p = Ether() / IP(ttl=64) / IGMP()
>>> p.ttl
64
>>> p[IGMP].igmpize()
True
>>> p.ttl
64
```

**Scapy 2.3.3**

```
>>> p = Ether() / IP(ttl=64) / IGMP()
>>> p.ttl
64
>>> p[IGMP].igmpize(p[IP], p[Ether])
True
>>> p.ttl
1
```


#### Actual result

```
>>> p[IGMP].igmpize()
True
>>> p.ttl
64
```

#### Expected result

```
>>> p[IGMP].igmpize()
True
>>> p.ttl
1
```

#### Related resources

Full docstring of igmpize:

```
        """Called to explicitly fixup the packet according to the IGMP RFC

        The rules are:
        General:
            1.  the Max Response time is meaningful only in Membership Queries and should be zero
        IP:
            1. Send General Group Query to 224.0.0.1 (all systems)
            2. Send Leave Group to 224.0.0.2 (all routers)
            3a.Otherwise send the packet to the group address
            3b.Send reports/joins to the group address
            4. ttl = 1 (RFC 2236, section 2)
            5. send the packet with the router alert IP option (RFC 2236, section 2)
        Ether:
            1. Recalculate destination

        Returns:
            True    The tuple ether/ip/self passed all check and represents
                    a proper IGMP packet.
            False   One of more validation checks failed and no fields
                    were adjusted.

        The function will examine the IGMP message to assure proper format.
        Corrections will be attempted if possible. The IP header is then properly
        adjusted to ensure correct formatting and assignment. The Ethernet header
        is then adjusted to the proper IGMP packet format.
        """
```

Thanks for this report. This regression was introduced by 8329256dcaefb0aa7e1c9ec95e15abdd7607362a

Thanks for confirmation, I'll provide a PR.