DNSRROPT class missing way to configure EDNS fields referenced in RFC7871

#### Brief description
Note: Believe this is an enhancement.
Unable to use EDNS Options(0) sections referenced in [RFC1787 section 6](https://datatracker.ietf.org/doc/html/rfc7871)
Reference page8 section 6:

```
   This protocol uses an EDNS0 [RFC6891] option to include client
   address information in DNS messages.  The option is structured as
   follows:

                +0 (MSB)                            +1 (LSB)
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   0: |                          OPTION-CODE                          |
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   2: |                         OPTION-LENGTH                         |
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   4: |                            FAMILY                             |
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   6: |     SOURCE PREFIX-LENGTH      |     SCOPE PREFIX-LENGTH       |
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   8: |                           ADDRESS...                          /
      +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
```


Believes the enhancement would be apart of classscapy.layers.dns.DNSRROPT(*args, **kargs)  found [here](https://scapy.readthedocs.io/en/latest/api/scapy.layers.dns.html)

#### Environment

-   Scapy version: `2.4.5`
-   Python version: `3.6.9`
-   Operating System: `Ubuntu 18.04`


#### How to reproduce
To reproduce install scapy, and deploy a dns resolver. I deployed bind 9.16.16 in my env. The bind server recognizes EDNS and responds with correct options. 

Script used
```
#!/usr/bin/python3

"""
1) update the LOCAL address to the dns resolver to send request to
2) to run use `edns-scapy.py www.example.com`
"""
import signal
import sys 
from scapy.all import DNS, DNSQR, DNSRROPT, IP, sr1, UDP, RandShort
from typing import Dict

def send_queries(query: object) -> None:
    """Send queries and output results
    Arguments:
        query (object): The query to send
    """
    ## Loop X times
    for _ in range(number):
        ## Send query
        res = sr1(query, timeout=timeout, verbose=verbosity)
        ## Check for answer
        if res:
            ## Get response code name
            rname: str = rcodes[res[DNS].rcode]
            print(f"\t- Response code: {rname}")
        else:
            print(f"\t- No DNS response")

## Hosts to send queries to
hosts: Dict[str, str] = { 
    # Adjust to server to query
    "LOCAL": "10.10.10.10"
}


## Number of queries to send
number: int = 1 

## Timeout
timeout: int = 3 

## Query name
qname: str = sys.argv[1]

## Query type
qtype: str = "A" 

## Possible response codes
rcodes: Dict[int, str] = { 
    0: "ok",
    1: "format-error",
    2: "server-failure",
    3: "name-error",
    4: "not-implemented",
    5: "refused",
}
## If running in debug mode raise Scapy verbosity
if __debug__:
    verbosity: int = 1 
else:
    verbosity: int = 0 

#Kill system processes for this script, must be run twice.
def signal_handler(sig, frame):
    print('[+] Exiting')
    sys.exit(0)

#Monitor sig int "Ctrl+c"
signal.signal(signal.SIGINT, signal_handler)

"""
Test case: Query with EDNS buffer size of 4096 bytes and DF bit set
"""
print(
    "===========================================================\n"
    "Test case 6: Query with 4096 byte EDNS buffer size and DF bit set\n"
    "==========================================================="
)
for host, ip in hosts.items():
    print(f"Generating queries to host {host} ({ip}):")

    ## Generate query to send
    query = (
        IP(dst=ip,flags='DF')
        / UDP(sport=RandShort(), dport=53)
        / DNS(qd=DNSQR(qname=qname, qtype=qtype, qclass="IN"), ar=DNSRROPT(rclass=4096))
    )

    ## Send queries
    send_queries(query=query)
``` 

This python script just shows the extent of what I can do with Scapy when working EDNS. EDNS0 options from 7871 cannot be applied.



#### Actual result


```
# ./edns.py www.example.com
===========================================================
Test case 6: Query with 4096 byte EDNS buffer size and DF bit set
===========================================================
Generating queries to host LOCAL (10.0.26.123):
Begin emission:
Finished sending 1 packets.

Received 2 packets, got 1 answers, remaining 0 packets
        - Response code: ok
```
![image](https://user-images.githubusercontent.com/60277229/119719286-98713700-be36-11eb-82a4-d41175167513.png)


#### Expected result

Packet request and response should include CSUBNET sections of the dns payloads. Here is a payload I made with using the clientsubnetoption library. Here is the code I used to create the following



```
#!/usr/bin/env python3
"""
1) to run use `edns.py www.example.com`
"""
import sys
import dns
import clientsubnetoption


for a in sys.argv[1:]:
    cso = clientsubnetoption.ClientSubnetOption('191.68.96.0')
    message = dns.message.make_query(a, 'A')
    message.use_edns(options=[cso])

    r = dns.query.udp(message, '10.10.10.10')
    print(f"r={r}")
    print(r.options)
    for options in r.options:
        print(options)
```

![image](https://user-images.githubusercontent.com/60277229/119720274-c440ec80-be37-11eb-8fea-e0f879c686c8.png)



#### Related resources

- [Link to RFC 7871](https://datatracker.ietf.org/doc/html/rfc7871)
- [Link to how to use clientsubnetoption](https://stackoverflow.com/questions/28609181/resolve-dns-edns-with-client-subnet-option-in-python)
- [Link to Scapy Documentation for DNSRROPT](https://scapy.readthedocs.io/en/latest/api/scapy.layers.dns.html)




Sorry for the answer delay. Would you mind submitting a PR? I think that modifying this line will be enought https://github.com/secdev/scapy/blob/master/scapy/layers/dns.py#L517

Thanks! Yeah sorry I'm not much of a developer, and don't have a lot of time to research the codebase and implement a solution, I appreciate you creating a PR for this, hopefully sometime in the near future I can pull and test. 