about IGMP v3 gr number of source address field

When I do some with IGMP, I found that `Group Record` class give me wrong number of source address.
I readed related code and found a bug. like this:
```python
from scapy.contrib.igmpv3 import *
i = IGMPv3gr()
i.srcaddrs=['1.2.3.4']
hexdump(i)
````
the oupput:
```
0000   01 00 00 04 00 00 00 00  01 02 03 04               ............
```
As you noticed that, `04` was given when I just had only one `IP`.
In RFC3376 Section 4.2 describled, that field represents `Number of Group Records`
Now I have fixed #141

Thanks for your patch and your comment ! 

Providing examples is really helpful to understand was a fix is about.