load_protocols loads a value greater than 255 from /etc/protocols

### Brief description

in scapy/data.py, IP_PROTOS is assigned by:
```
IP_PROTOS = load_protocols("/etc/protocols")
```

which by description _'Parse /etc/protocols and return values as a dictionary. '_

However on Ubuntu 24.04, there is a value >= 255 in '/etc/protocols':
```
jack in /tmp λ tail /etc/protocols 
mpls-in-ip 137	MPLS-in-IP	# MPLS-in-IP [RFC4023]
manet	138			# MANET Protocols [RFC5498]
hip	139	HIP		# Host Identity Protocol
shim6	140	Shim6		# Shim6 Protocol [RFC5533]
wesp	141	WESP		# Wrapped Encapsulating Security Payload
rohc	142	ROHC		# Robust Header Compression
ethernet 143	Ethernet	# Ethernet encapsulation for SRv6 [RFC8986]
# The following entries have not been assigned by IANA but are used
# internally by the Linux kernel.
mptcp	262	MPTCP		# Multipath TCP connection

```

**And scapy did not handle it correctly.**

### Scapy version

2.6.1

### Python version

3.12.3

### Operating system

Ubuntu 24.04 X64 (kernel: 6.11.0-29-generic)

### Additional environment information

_No response_

### How to reproduce

Run PoC:
```
from scapy.all import *

node = IP()
for _,field_after_build in enumerate(node.fields_desc):
    field_class_name = field_after_build.__class__.__name__
    if field_class_name == "ByteEnumField":
        print(list(field_after_build.i2s.keys()))
        break
```

Gives:
```
[0, 1, 2, 3, 4, 5, 6, 8, 9, 12, 17, 20, 22, 27, 29, 33, 36, 37, 38, 41, 43, 44, 45, 46, 47, 50, 51, 57, 58, 59, 60, 73, 81, 88, 89, 93, 94, 97, 98, 103, 108, 112, 115, 124, 132, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143, 262]
```

Notice the value '262' in the end of the list.

### Actual result

_No response_

### Expected result

_No response_

### Related resources

_No response_